<div class="field">
  <label for="" class="label">{{label}}</label>
  <div class="control">
    <input [ngClass]="{'is-danger':showErrors()}" class="input" [formControl]="control">
  </div>
  <ng-container *ngIf="showErrors()">
  <div class="help is-danger" *ngIf="control.errors?.['required']">
    Value is required.
  </div>
  <div class="help is-danger" *ngIf="control.errors?.['minlength']">
   Value you entered should be at least {{control.errors?.['minlength'].requiredLength}} characters
  </div>
  </ng-container>
</div>

